<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean name="sbu" class="com.demo.springcore.beans.SBU">
        <property name="sbuId" value="PES-BU"/>
        <property name="sbuHead" value="Kiran Rao"/>
        <property name="sbuName" value="Product Engineering Service"/>
    </bean>


    <bean id="emp" class="com.demo.springcore.beans.Employee">
        <constructor-arg name="employeeId" value="12345"/>
        <constructor-arg name="employeeName" value="Harriet"/>
        <constructor-arg name="salary" value="40000.0"/>
        <constructor-arg name="businessUnit" ref="sbu"/>
        <constructor-arg name="age" value="30"/>
    </bean>
</beans>