<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="emp" class="com.demo.springcore.beans.Employee" autowire="constructor">
        <constructor-arg name="employeeId" value="12345"/>
        <constructor-arg name="employeeName" value="Harriet"/>
        <constructor-arg name="salary" value="40000.0"/>
        <constructor-arg name="businessUnit" value="PES-BU"/>
        <constructor-arg name="age" value="30"/>
    </bean>
</beans>